PORT=4000
MONGODB_URI=
DB_NAME=blogApp

JWT_SECRET=
JWT_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV=development

# EMAIL_USER=love.sharma.engineer@gmail.com
# EMAIL_PASS=xrmj fbwi bbsk ewnf    # Gmail App Password


SMTP_USER=
SMTP_PASS=

CLIENT_URL=http://localhost:5173